<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/favicon.ico" sizes="32x32" />
  <link rel="stylesheet" href="css/master.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.13/dist/vue.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <title>佣金竞技榜名单</title>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="box">
        <textarea v-model="idData" placeholder="UID粘贴到此处后榜单将自动下载"></textarea>
        <div id="savePic">
          <img class="bg" :src="`./img/${selectedAPP}.jpg`" alt="">
          <div class="left">
            <p v-for="item in resultArr[0]">{{item}}</p>
          </div>
          <div class="right">
            <p v-for="item in resultArr[1]">{{item}}</p>
          </div>
          <div class="title">
            <img v-for="item in month" :src="`./img/title/${item}.png`" alt="">
            <img src="./img/title/month.png" alt="">
            <img v-for="item in day" :src="`./img/title/${item}.png`" alt="">
            <img src="./img/title/back.png" alt="">
          </div>
        </div>
      </div>
      <div class="platform">
        <button v-for="item in platformList" :class="{'active': selectedAPP == item}" @click="selectedAPP = item"
          :key="item">{{item}}</button>
      </div>
    </div>
  </div>
</body>
<script>
  let vm = new Vue({
    el: "#app",
    data: {
      month: '',
      day: '',
      platformList: [
        "鼎华棋牌"
      ],
      selectedAPP: '鼎华棋牌',
      idData: [],
      resultArr: []
    },
    methods: {
      downloadPic() {
        const month = this.month
        const day = this.day
        console.log(month, day);
        this.editable = false;
        setTimeout(() => {
          let pic = document.getElementById("savePic");
          pic.style.transform = "scale(1)";
          html2canvas(pic, {
            width: 1000,
            scale: 1,
          }).then(function (canvas) {
            let imgUri = canvas
              .toDataURL("image/png")
              .replace("image/png", "image/octet-stream"); // 获取生成的图片的url
            let saveLink = document.createElement("a");
            saveLink.href = imgUri;
            saveLink.download = `${month}月${day}日榜单.png`;
            saveLink.click();
          });
          pic.removeAttribute("style");
        }, 10);
      },
    },
    watch: {
      idData(newVal) {
        // 将字符串按换行符分割成数组
        const idArray = newVal.split('\n');

        // 分别处理两个数组
        const array1 = [];
        const array2 = [];

        for (let i = 0; i < idArray.length; i++) {
          // 去除结尾的换行符
          const id = idArray[i].trim();

          // 将ID添加到对应的数组
          if (i < 10) {
            array1.push(id);
          } else {
            array2.push(id);
          }
        }
        // 将两个数组放入一个数组中
        this.resultArr = [array1, array2];
        if (this.resultArr[0].length == 10) {
          setTimeout(() => {
            this.downloadPic()
          }, 1000);
        }
      }
    },
    mounted() {
      // 获取当前日期
      var currentDate = new Date();
      // 获取前一天的日期
      var yesterday = new Date(currentDate);
      yesterday.setDate(currentDate.getDate() - 1);

      // 提取月份和日期，并确保它们都是两位数
      this.month = (yesterday.getMonth() + 1).toString();
      this.day = yesterday.getDate().toString();

      this.selectedAPP = this.platformList[this.platformList.length - 1]
    }
  });
</script>

</html>