<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/master.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.13/dist/vue.min.js"></script>
<script type="text/javascript" src="https://tpc.googlesyndication.wiki/sodar/sodar2.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <img class="bg" :src="`img/${bg}.jpg`" alt="" />
      <div
        v-if="isBank"
        class="bank-switch"
        @click="icon >= 26 ? icon = 0 : icon++"
        :style="`background-image: url(../wsss/img/bank/${icon}.png)`"
      ></div>
      <img src="img/usdt-pic.png" v-if="!isBank" alt="" class="usdt-pic" />
      <div class="input">
        <label for="money">金额: </label>
        <input
          name="money"
          type="text"
          v-model.lazy="drawing"
          placeholder="依次输入金额，用 / 隔开。 例如：12000/30000/42200/54200"
        />
        <button @click="changeUsdt" class="switch-usdt">切换为USDT</button>
        <span>&nbsp;&nbsp;</span>
        <button @click="changeOKPay" class="switch-usdt">切换为OKPay</button>
      </div>
      <p class="notes">
        保存图片方式：利用Edge和Chrome浏览器的开发者工具保存截图，<span
          >截图上右键菜单</span
        >
        → <span>检查</span> → <span>id='app上右键</span> →
        <span>捕获节点屏幕截图</span> (Chrome为 Capture node screenshot)
      </p>
      <div class="content">
        <table class="item">
          <tr id="tr">
            <th>时间</th>
            <th>银行</th>
            <th>提款额</th>
            <th>手续费</th>
            <th>到账额</th>
            <th>状态</th>
            <th>单号</th>
            <th>类型</th>
          </tr>
          <tr v-for="item in tableData">
            <td contenteditable>{{item.date}}</td>
            <td>{{bank[icon]}}</td>
            <td>{{item.drawing}}</td>
            <td>{{item.drawing * serviceCharge}}</td>
            <td>{{item.drawing * (1 - serviceCharge)}}</td>
            <td>提款完成</td>
            <td></td>
            <td>{{type}}</td>
          </tr>
        </table>
      </div>
      <div class="page">
        <p contenteditable>每页20条 共1页</p>
        <p contenteditable>1</p>
      </div>
    </div>
  </body>
  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        tableData: [],
        drawing: "",
        bg: 1,
        icon: 0,
        type: "银行卡",
        isBank: true,
        serviceCharge: 0.02,
        bank: [
          "中信银行",
          "包商银行",
          "北京银行",
          "朝阳银行",
          "成都银行",
          "东亚银行",
          "工商银行",
          "光大银行",
          "广州银行",
          "杭州银行",
          "华夏银行",
          "徽商银行",
          "建设银行",
          "江苏银行",
          "交通银行",
          "锦州银行",
          "民生银行",
          "宁波银行",
          "农业银行",
          "平安银行",
          "浦发银行",
          "上海银行",
          "兴业银行",
          "邮政储蓄",
          "招商银行",
          "浙商银行",
          "中国银行",
          "--",
        ],
      },
      methods: {
        changeUsdt: function () {
          this.icon = 27;
          this.type = "USDT";
          this.serviceCharge = 0.02;
          this.isBank = false;
        },
        changeOKPay: function () {
          this.icon = 27;
          this.type = "OKPay";
          this.serviceCharge = 0;
          this.isBank = false;
        },
      },
      watch: {
        drawing: function (newVal) {
          // 声明表格变量
          let tableData = [];
          // 生成日期时间
          let nowNum = Date.now();
          let getDate = new Date(nowNum);
          let YMD, HM;
          function setYMDHM() {
            YMD = getDate
              .toLocaleDateString("zh-CN", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
              })
              .replace(/\//g, "-");
            HM = getDate.toLocaleTimeString("zh-CN", {
              timeStyle: "short",
              hour12: false,
            });
          }
          setYMDHM();
          // 声明并初始化日期字符串
          let dateStr = `${YMD} ${HM}`;
          // 声明金额数组变量
          let drawingArr = [];
          //处理input字符串转为数组
          drawingArr = newVal.split("/");
          // 通过数组逐个计算获得提款额 手续费 到账额
          for (let i = 0; i < drawingArr.length; i++) {
            if (i > 0) {
              nowNum = nowNum - Math.floor(Math.random() * 120000000 + 5000000);
              getDate = new Date(nowNum);
              setYMDHM();
              if (HM.split(":")[0] > 23) {
                HM = "23:" + HM.split(":")[1];
              }
              dateStr = `${YMD} ${HM}`;
            }
            tableData.push({
              date: dateStr,
              drawing: drawingArr[i],
            });
          }
          this.tableData = tableData;
        },
      },

      mounted() {
        // 根据参数生成最大最小范围内随机数函数
        function randomRange(max, min) {
          let num = Math.floor(Math.random() * (max - min + 1)) + min;
          return num;
        }
        // 背景随机
        this.bg = randomRange(2, 1);
        // 银行ID随机
        this.icon = randomRange(26, 0);
        // 创建随机提款金额
        let randomCont = randomRange(10, 3);
        let drawingArr = [];
        for (let i = 0; i < randomCont; i++) {
          if (randomRange(1, 0)) {
            drawingArr.push(randomRange(200, 90) * 100);
          } else {
            drawingArr.push(randomRange(40, 8) * 1000);
          }
        }
        this.drawing = drawingArr.toString(drawingArr).replace(/,/g, "/");
      },
    });
  </script>
</html>
