<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <link rel="stylesheet" href="index.css">
  <title>水印工具</title>
</head>

<body>
  <div id="app">
    <div class="top">
      <button class="platfromSelect">
        <p>{{platfromList[selected]}}</p>
        <div class="logo">
          <img @click="selected = index" v-for="(item, index) in platfromList" :src="`img/${platfromList[index]}.png`">
        </div>
      </button>
      <input type="file" id="fileInput" multiple accept="image/*">
    </div>
    <div id="content">
      <div class="item" v-for="item in images">
        <div>
          <img v-for="item in 3" :src="`img/${platfromList[selected]}.png`">
        </div>
        <img class="bg" :src="item.currentSrc" alt="">
      </div>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: '#app',
    data: {
      images: [],
      platfromList: [
        '大富翁',
        '沙巴体育'
      ],
      selected: 0
    },
    methods: {
      handleFileUpload(event) {
        // 每次上传前清空上次文件
        this.images = []
        //将每个文件推入images数组
        const files = event.target.files;
        for (let i = 0; i < files.length; i++) {
          const reader = new FileReader();
          reader.onload = (e) => {
            const img = new Image();
            img.src = e.target.result;
            img.onload = () => {
              this.images.push(img);
            };
          };
          reader.readAsDataURL(files[i]);
        }
        setTimeout(() => {
          // 将每个content下的成员保存到本地
          const content = document.getElementById('content');
          const children = content.children;

          // 获取当前时间的Date对象以标注日期
          let now = new Date();
          // 获取各个时间部分
          let month = (now.getMonth() + 1).toString().padStart(2, '0'); // 月份从0开始，需要加1
          let day = now.getDate().toString().padStart(2, '0');
          let hours = now.getHours().toString().padStart(2, '0');
          let minutes = now.getMinutes().toString().padStart(2, '0');
          let seconds = now.getSeconds().toString().padStart(2, '0');
          let currentTime = `${month}/${day} ${hours}:${minutes}:${seconds}`;

          let count = 1
          Array.from(children).forEach(child => {
            html2canvas(child).then(canvas => {
              const imgData = canvas.toDataURL('image/png');
              const link = document.createElement('a');
              link.href = imgData;
              link.download = currentTime + '-' + count + '.png';
              link.click();
              count++
            });
          });
        }, 500);
      }
    },
    watch: {
      selected(newVal) {
        this.images = []
        document.getElementById('fileInput').value = ''
      }
    },
    mounted() {
      document.getElementById('fileInput').addEventListener('change', this.handleFileUpload);
    }
  });

</script>

</html>