<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="assets/favicon.ico" sizes="32x32" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.13/dist/vue.min.js"></script>
    <title>AppDisplay</title>
  </head>
  <body>
    <div
      id="app"
      :style="`background: linear-gradient(${randomColorTop}, ${randomColorBottom}) no-repeat`"
    >
      <div class="logo">
        <img src="./assets/logo.svg" />
        <p>App Display</p>
      </div>
      <div class="skins">
        <div
          class="skin"
          :class="{active:index == showDetail}"
          @click="showDetailHandler(item.number,item.imgCont,index)"
          v-for="(item,index) in allSkin"
          :key="item.title"
        >
          <img :src="`./assets/app/${item.number}/1.jpg`" />
          <div class="content">
            <div class="title">
              <div>
                <p>{{index + 1}}</p>
                <h4>{{item.title}}</h4>
              </div>
              <img
                v-if="!item.star"
                src="./assets/star.svg"
                @click.stop="item.star = true"
              />
              <img
                v-else
                src="./assets/star-active.svg"
                @click.stop="item.star = false"
              />
            </div>
            <p class="describe">{{item.describe}}</p>
            <div class="btn">
              <button @click.stop="showImg()">
                <img src="./assets/img.svg" />
                <p>APP截图</p>
              </button>
              <button @click.stop="showVideo()">
                <img src="./assets/video.svg" />
                <p>视频预览</p>
              </button>
              <button @click.stop="openDownloadPage(item.downloadSrc)">
                <img src="./assets/web.svg" />
                <p>下载页面</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="show-media" :class="{show:showMedia}">
        <img
          v-if="isShowImg"
          :src="`./assets/app/${showSkin}/${showImgNum}.jpg`"
        />
        <video v-if="!isShowImg" src=""></video>
        <div class="btn">
          <img
            v-if="isShowImg"
            class="left"
            src="./assets/arrow.svg"
            @click="showImgSub()"
          />
          <img class="close" src="./assets/close.svg" @click="hideMedia()" />
          <img
            v-if="isShowImg"
            class="right"
            src="./assets/arrow.svg"
            @click="showImgAdd()"
          />
        </div>
      </div>
    </div>
  </body>
  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        showDetail: -1,
        showSkin: 1,
        showMedia: false,
        isShowImg: true,
        showImgNum: 1,
        showImgCont: 0,
        allSkin: [
          {
            number: 1,
            title: "蓝色Q版",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 7,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 2,
            title: "蓝色Q版2",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 5,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 3,
            title: "蓝色Q版3",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 6,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 4,
            title: "蓝色Q版4",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 8,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 5,
            title: "蓝色Q版5",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 10,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 6,
            title: "蓝色Q版6",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 7,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 7,
            title: "蓝色Q版7",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 6,
            downloadSrc: "https://baidu.com",
          },
          {
            number: 8,
            title: "蓝色Q版8",
            star: false,
            describe:
              "舒服的服ID富裕的复印件蛋糕盒颜色与速度与印度与速度也让我有劲儿无IE瑞ICVC侮辱鄂锐俄日ue如此未激活微无额UI鄂锐从。",
            imgCont: 4,
            downloadSrc: "https://baidu.com",
          },
        ],
        bgColor: [
          "#ef5777",
          "#f53b57",
          "#575fcf",
          "#3c40c6",
          "#4bcffa",
          "#0fbcf9",
          "#34e7e4",
          "#00d8d6",
          "#0be881",
          "#0be881",
          "#05c46b",
          "#ffc048",
          "#ffa801",
          "#ffdd59",
          "#ffd32a",
          "#ff5e57",
          "#ff3f34",
        ],
      },
      methods: {
        showDetailHandler(number, imgCont, index) {
          this.showImgNum = 1;
          if (this.showDetail !== index) {
            this.showSkin = number;
            this.showImgCont = imgCont;
            this.showDetail = index;
          } else {
            this.showDetail = -1;
          }
        },
        showImg() {
          this.showMedia = true;
          this.isShowImg = true;
        },
        showImgSub() {
          this.showImgNum > 1
            ? this.showImgNum--
            : (this.showImgNum = this.showImgCont);

          console.log(this.showImgNum);
        },
        showImgAdd() {
          this.showImgNum < this.showImgCont
            ? this.showImgNum++
            : (this.showImgNum = 1);

          console.log(this.showImgNum);
        },
        showVideo() {
          this.showMedia = true;
          this.isShowImg = false;
        },
        hideMedia() {
          this.showMedia = false;
        },
        openDownloadPage(src) {
          window.open(src);
        },
      },
      computed: {
        randomColorTop() {
          let index = Math.floor(Math.random() * 17);
          return this.bgColor[index];
        },
        randomColorBottom() {
          let index = Math.floor(Math.random() * 17);
          return this.bgColor[index];
        },
      },
      watch: {},
      mounted() {
        // let index = Math.floor(Math.random() * 17);
        // console.log(this.bgColor[index]);
        // 根据参数生成最大最小范围内随机数函数
        // function randomRange(max, min) {
        //   let num = Math.floor(Math.random() * (max - min + 1)) + min;
        //   return num;
        // }
        // 背景随机
        // this.bg = randomRange(true, false);
        // 银行ID随机
        // this.icon = randomRange(26, 0);
      },
    });
  </script>
</html>
